spring:
  application:
    name: classhub
  profiles:
    active: dev
  output:
    ansi:
      enabled: DETECT
logging:
  level:
    root: INFO
    org.springframework: WARN
    org.springframework.web: DEBUG
    org.apache: WARN
    org.hibernate: WARN
