spring:
  application:
    name: classhub
  profiles:
    active: dev
  output:
    ansi:
      enabled: DETECT
  logging:
    level:
      root: INFO
      org.springframework: WARN
      org.apache: WARN
      org.hibernate: WARN